<div class="container">
    <p class="fs-1 text-center">Gradient Overlay Image</p>
    <div class="d-flex justify-content-between">
        <div class="border border-danger" style="width: 400px; height: 200px;"></div>
        <img src="https://cdn.discordapp.com/attachments/905751963017285634/1087376790042988554/workbench.jpg" width="400" height="200">
        <div class="gradient-overlay"></div>
    </div>
    <div class="mt-5 border d-flex justify-content-center">
        <div class="border border-danger position-relative" style="width: 400px; height: 200px;">
            <img src=" https://cdn.discordapp.com/attachments/905751963017285634/1087376790042988554/workbench.jpg" width="400" height="200">
            <div class="position-absolute top-0 gradient-overlay"><p class="position-absolute bottom-0 fs-5 text-white ms-3">Title</p></div>
        </div>
    </div>
</div>