<div class="container">
    <p class="fs-1 text-center">Grid</p>
    <div>
        <div>
            <p class="fs-3">Responsive Breakpoints</p>
            <div class="row m-5">
                <div class="col border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
            </div>
            <div class="row m-5">
                <div class="col-md-3 border border-dark text-center p-3">box</div>
                <div class="col-md-3 border border-dark text-center p-3">box</div>
                <div class="col-md-3 border border-dark text-center p-3">box</div>
                <div class="col-md-3 border border-dark text-center p-3">box</div>
            </div>     
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 m-5">
                <div class="col-4 border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
                <div class="col border border-dark text-center p-3">box</div>
            </div>
        </div>

        <div>
            <p class="fs-3">Columns</p>
            <div class="row  m-5 border border-danger" style="height: 150px;">
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
            </div>
    
            <div class="row justify-content-center align-items-center m-5 border border-danger" style="height: 300px;">
                <div class="col-auto align-self-start border border-dark text-center p-3">box</div>
                <div class="col-auto border border-dark text-center p-3">box</div>
                <div class="col-auto border border-dark text-center p-3">box</div>
                <div class="col-auto align-self-end border border-dark text-center p-3">box</div>
            </div>
        </div>

        <div>
            <p class="fs-3">Gutters</p>
            
            <div class="row gx-5 m-5 border border-danger">
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
                <div class="col-2 border border-dark text-center p-3">box</div>
            </div>

            <div class="d-flex flex-column justify-content-evenly m-5 border border-danger" style="height: 400px;">
                <div class="row justify-content-center align-items-center w-100">
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                </div>
                <div class="row gx-0 justify-content-center align-items-center w-100">
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                </div>
                <div class="row gx-5 justify-content-center align-items-center w-100">
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col-2 border border-success"><div class="border border-info text-center p-2">box</div></div>
                </div>

                <div class="row gx-0 gy-2 row-cols-2 justify-content-center align-items-center w-100">
                    <div class="col border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col border border-success"><div class="border border-info text-center p-2">box</div></div>
                    <div class="col border border-success"><div class="border border-info text-center p-2">box</div></div>
                </div>                
            </div>

        </div>

        
    </div>
</div>