
    <p class="fs-1 text-center mb-5">Img vs Background-img</p>
    <div>
        <div class="m-5">
            <p class="fs-3">Img tag: height 1200px</p>
            <img class="border" src="https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=681&ixjsv=1.1.3&q=50&w=658" height="1200" style="filter: brightness(0.5);">
            <!-- <div class="">
                <div class="" style="position: relative;">
                    <p class="fs-1 text-white position-absolute top-50 start-50" style="z-index: 1;">TEST</p>
                    <img class="border" src="https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=681&ixjsv=1.1.3&q=50&w=658" height="1200" style="filter: brightness(0.5);">
                </div>
            </div> -->
        </div>
        <div class="m-5">
            <p class="fs-3">Div background-img: height 1200px</p>
            <div class="div_img border" style="height:1200px;">
                <!-- <p class="fs-1 text-white">TEST</p> -->
            </div>
        </div>
        <div class="m-5">
            <p class="fs-3">Img MAX%</p>
            <img class="border" src="https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=681&ixjsv=1.1.3&q=50&w=658" height="1200" style="filter: brightness(0.5); max-width: 100%; max-height: 100%;">
        </div>
    </div>