.primary-btn {
    background: rgba(24,149,245,.2);
    border-color: #1895f5;
    color: #1895f5;
}

.primary-btn:hover {
    background: rgba(24,149,245);
    color: #ffffff;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}