<div class="container">
    <p class="fs-1 text-center">HomePage</p>
    <div>
        <p class="fs-2">RxJs</p>
        <ul>
        <li> <a routerLink="/ex1">Ex1 Directive & Observable</a></li>
        <li><a routerLink="/ex2">Ex2 Observable vs Subject</a></li>
        <li><a routerLink="/ex3">Ex3 img vs background-img</a></li>
        <li><a routerLink="/ex4">Ex4 State Management NgRx</a></li>
        <li><a routerLink="/ex5">Ex5 ViewChild & ViewChildren</a></li>
        <li><a routerLink="/ex6">Ex6 HttpClient</a></li>
        <li><a routerLink="/ex7">Ex7 Transform and Transition</a></li>
        <li><a routerLink="/ex8">Ex8 Gradient Overlay Image</a></li>
        <li><a routerLink="/ex9">Ex9 Grid</a></li>
        <li><a routerLink="/bookstore">Book Store</a></li>
        </ul>
    </div>
    <div>
        <p class="fs-2">Imitate Web Page</p>
         <ul>
            <li><a routerLink="/webpage1">web page 1</a></li>
            <li><a routerLink="/webpage2">web page 2</a></li>
            <li><a routerLink="/webpage3">web page 3</a></li>
         </ul>  
    </div>
</div>