<div class="container">
    <p class="fs-1 text-center">HomePage</p>
    <div>
        <p class="fs-2">RxJs</p>
        <ul>
        <li> <a routerLink="/ex1">Ex1 Directive & Observable</a></li>
        <li><a routerLink="/ex2">Ex2 Observable vs Subject</a></li>
        <li><a routerLink="/ex3">Ex3 img vs background-img</a></li>
        </ul>
    </div>
    <div>
        <p class="fs-2">Imitate Web Page</p>
         <ul>
            <li><a routerLink="/webpage1">web page 1</a></li>
         </ul>  
    </div>
</div>