<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid mx-5">
        <div class="collapse navbar-collapse text-white" id="navbarText">
            <ul class="navbar-nav fs-5 p-2">
                <li class="nav-item">
                    <a>Abstract&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a>Helpe Center</a>
                </li>
            </ul>
        </div>
        <div class="d-flex gap-2">
            <div><button class="btn text-white btn-outline-light px-3">Submit a request</button></div>
            <div ><button class="btn text-white btn-primary px-4">Sign in</button></div>
        </div>
    </div>
</nav>
<div  class="p-5" style="background-color: #dadbf1;">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
        <p class="" style="font-size: 3.5rem;">How can we help?</p>
        <input class="form-control" style="width: 36%; height: 45px;" placeholder="Search">
    </div>
</div>
<div class="bg-light p-5 d-flex justify-content-center">
     <div class="container m-5 w-100">
        <div class="row gy-5 gx-5">
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/aed6500f4da41c641f3de5d96247eb6654e9c386.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Branches</p>
                        <p class="fs-5 fw-light">Abstract lets you manage, version, and document your designs in one place.</p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/91588b3d042df901d9b941ccbb57af4f151401c7.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Manage your account</p>
                        <p class="fs-5 fw-light">Configure your account settings, such as your email, profile details, and password.</p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/50d0db451c0e1e66e1caddd142986fcf6792ca05.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Manage organizations, teams, and projects</p>
                        <p class="fs-5 fw-light">Use Abstract organizations, teams, and projects to organize your people and your work.</p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/3e82d0126e97d7b7c60a611d4e11b3c278d33743.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Manage billing</p>
                        <p class="fs-5 fw-light">Change subscriptions and payment details.</p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/7712592465ef5c7bf18f1c7cb16e19ab44eb81e3.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Authenticate to Abstract</p>
                        <p class="fs-5 fw-light">Set up and configure SSO, SCIM, and Just-in-Time provisioning. </p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-4">
                    <img src="https://theme.zdassets.com/theme_assets/2197739/dcc25d18e224d12621d74e545cc8bdd1b5685ca8.png" height="66" width="66">
                    <div>
                        <p class="fs-5 fw-bold">Abstract support</p>
                        <p class="fs-5 fw-light">Get in touch with a human.</p>
                        <p class="fs-5" style="color: #4C5FD5;">Learn More -></p>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
<div class="bg-dark">
    <div class="container pb-5 text-white">
        <div class="d-flex justify-content-between py-5">
            <div>
                <p class="fs-5 fw-bold">Abstract</p>
                <ul class="navbar-nav">
                    <li class="nav-item">Branches</li>
                </ul>
            </div>
            <div>
                <p class="fs-5 fw-bold">Resoures</p>
                <ul class="navbar-nav">
                    <li class="nav-item">Blog</li>
                    <li class="nav-item">Help Center</li>
                    <li class="nav-item">Release Notes</li>
                    <li class="nav-item">Status</li>
                </ul>
            </div>
            <div>
                <p class="fs-5 fw-bold">Community</p>
                <ul class="navbar-nav">
                    <li class="nav-item">Twitter</li>
                    <li class="nav-item">LinkedIn</li>
                    <li class="nav-item">Facebook</li>
                    <li class="nav-item">Podcast</li>
                </ul>
            </div>
            <div class="row">
                <div>
                    <p class="fs-5 fw-bold">Resoures</p>
                    <ul class="navbar-nav">
                        <li class="nav-item">About Us</li>
                        <li class="nav-item">Careers</li>
                        <li class="nav-item">Legal</li>
                    </ul>
                </div>
                <div>
                    <p class="fw-bold">Contact Us</p>
                    <ul class="navbar-nav">
                        <li class="nav-item">info@abstract.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <p>Copyright 2022 Abstract Studio Design, Inc. All rights reserved</p>
        </div>
    </div>
</div>